<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header>
    <nav class="HeadNav">
    
        <ul class="HeadUi">
            <li class="HeadLi">
                <h3 class="Rh3">Trading Villa</h3>
            </li>
            <li class="HeadLi"> <a class="HeadLink" href="/">Home</a></li>
            <li class="HeadLi"><a class="HeadLink" href="/options">Options</a></li>
            <li class="HeadLi"> <a class="HeadLink" href="/stocks">Stocks</a></li>
            <li class="HeadLi"><a class="HeadLink" href="/bees">Bees</a></li>
    
            <li class="HeadLi"><a class="HeadLink" href="/contact">Contact</a></li>
            <li class="HeadLi"> <a class="HeadLink" href="/about">About</a></li>
            <li class="HeadLi" id="HeadLiId"><a class="HeadLink" href="/login">Login</a></li>
            <li class="HeadLi"> <a class="HeadLink" href="/register">Register</a></li>
            <li class="HeadLi"> <a class="HeadLink" href="/logout">Logout</a></li>
        </ul>
    
    </nav>
   </header>
       
   
    
    
