<%- include('partials/header') %>
<div class="home">
    <h1 class="homeH1">Welcome <%= FullName %>
    </h1>
</div>
<div class="home1">
   

<div class="Content-Box">
<div class="Home-Content">
    <h3 class="Home-H1">Why Trading Villa?</h3>
    <div class="Home-Content-Pos-1 Home-Design ">
         
       <p  class="Home-Text">"Trading Villa at your service! I specialize in navigating the dynamic world of stock options. Utilizing volatility and
    price shifts, I analyze underlying trends, implied volatility, and time decay. With diversified strategies, I aim for
    consistent returns, staying updated on company news and market sentiment to execute precise trades for your capital
    growth."
       </p>
    <span class="Home-Span"><video src="/css/gif1.mp4" controls></video></span>
       
     
           
          <!-- <img src="/css/gif1.mp4" alt="content-1 img"> -->
    </div>
    <br>
    <h3 class="Home-H1">Trading in Options ..</h3>
    <div class="Home-Content-Pos-1 Home-Design ">
    
        <p class="Home-Text">Trade in both stock options and index options to capitalize on market movements. Analyze underlying trends, volatility,
        and time decay for informed decisions. Diversify strategies to hedge risk effectively. Stay updated on economic
        indicators, corporate events, and market sentiment. Execute trades accurately for consistent returns and portfolio
        growth.
        </p>
        <span class="Home-Span"><video src="/css/gif1.mp4" controls></video></span>
    
    
    
        <!-- <img src="/css/gif1.mp4" alt="content-1 img"> -->
    </div>
    <br>
<h3 class="Home-H1">Trading in Stocks ..</h3>
<div class="Home-Content-Pos-1 Home-Design ">

    <p class="Home-Text">Engage in stock trading by analyzing company performance, market trends, and financial indicators. Diversify your
    portfolio for risk management. Stay informed on earnings reports, news, and market sentiment. Execute trades
    strategically, aiming for long-term growth and capital appreciation through informed decision-making and timely
    execution.
    </p>
    <span class="Home-Span"><video src="/css/gif1.mp4" controls></video></span>



    <!-- <img src="/css/gif1.mp4" alt="content-1 img"> -->
</div>
    <br>
    <h3 class="Home-H1">Trading in Bees ..</h3>
    <div class="Home-Content-Pos-1 Home-Design ">
    
        <p class="Home-Text">Trade in Index Bees and Commodity Bees listed on the Indian stock market. Analyze diverse sectoral holdings, index
        performance, and commodity price movements. Diversify portfolio for risk mitigation. Stay informed on economic
        indicators, sectoral developments, and market sentiment. Execute trades strategically for potential capital growth and
        portfolio diversification.
        </p>
        <span class="Home-Span"><video src="/css/gif1.mp4" controls></video></span>
    
    
    
        <!-- <img src="/css/gif1.mp4" alt="content-1 img"> -->
    </div>
</div>

</div>
</div>

<div class="Info-Block">
    <div class="Info-Content">
        <div class="Info-Ul">
            <ul>
                <li>SOME COENTENT</li>
                <li>SOME COENTENT</li>
                <li>SOME COENTENT</li>
                <li>SOME COENTENT</li>
                <li>SOME COENTENT</li>
            </ul>
        </div>
        
    </div>
</div>
 
    <%- include('partials/footer') %>