<%- include('partials/header') %>

<div class="Lpos">
    <div class="Updiv">
        <div class="Ltext">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, animi modi suscipit quisquam, vel
                debitis,
                ex
                porro
                voluptate ipsa nisi facere similique molestias? Suscipit officia quisquam ad exercitationem. Similique,
                neque
                hic!
                Pariatur illum enim consectetur sed iusto molestias hic? Officia?</p>

        </div>
    </div>
    <div class="Bottomdiv">
        <div class="Lform">L
            <form action="/login" method="post">

                <input class="Linput" type="email" name="email" id="email" placeholder="E-mail">
                <input class="Linput" type="password" name="password" id="password" placeholder="Password">
                <button class="Lbtn" type="submit">Login</button>
                <label class="Llog" for=""> No Account? <a class="LLLog" href="/register">Register</a></label>

            </form>


        </div>
    </div>
</div>


    <%- include('partials/footer') %>