<%- include('partials/header') %>
<div class="Option1">


    <div class="Content-Box">
        <div class="Home-Content">
           
            <div class="Home-Content-Pos-1 Home-Design ">

               <a href="/ema" class="Option_Link"><span>Trade with EMA stratergy </span></a>
              


                <!-- <img src="/css/gif1.mp4" alt="content-1 img"> -->
            </div>
            <br>
          
            <div class="Home-Content-Pos-1 Home-Design ">

                <a href="/bollinger" class="Option_Link"><span>Trade with Bollinger Band Stratergy</span></a>



                <!-- <img src="/css/gif1.mp4" alt="content-1 img"> -->
            </div>
            <br>
            
            <div class="Home-Content-Pos-1 Home-Design ">

                <a href="/readmore" class="Option_Link"><span>Someother Stratergy defined by you</span></a>



                <!-- <img src="/css/gif1.mp4" alt="content-1 img"> -->
            </div>
           
            
            
        </div>

    </div>
</div>

    <%- include('partials/footer') %>